<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../styles/styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <title>Title</title>
</head>

<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/"><strong>SPELL-IT</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
          <a class="nav-link" href="/signup">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Practice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quiz</a>
        </li>
      </ul>

    </div>

  </nav>
 <div class=" jumbotron-fluid" >

    <h1 class="display-4 pl-5"> </h1>

  </div>

   

    {{{body}}}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.js"></script> 
  
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  {{!-- <script src="../js/words.js"></script> --}}
  <script src="../js/script.js"></script>
  {{!-- <script src="../js/words1.js"></script> --}}
</body>

</html>